/dotnet/resources/gamemode/bin/
/dotnet/resources/gamemode/obj/
/packages/
/dotnet/runtime/

server_exceptions.txt
server_logs.txt
conf.toml

riderModule.iml
/_ReSharper.Caches/
bin/
BugTrap-x64.dll
ragemp-server.exe
linux_x64.tar.gz