<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
<style>
    .font {font-family: 'Nanum Gothic', sans-serif;}
</style>
<div class="bg-slate-600 w-72 h-20 bg-opacity-75 rounded-tl-lg rounded-bl-lg scroll-smooth p-2 font">
<h1 class="text-center text-2xl text-white">Karol Wojtyła</h1>
<h1 class="text-center text-xl text-lime-500">2137$</h1>
</div>
</body>