<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
<style>
    .font {font-family: 'Nanum Gothic', sans-serif;}
</style>
<div class="grid grid-flow-col auto-cols-max p-2 h-16">
    <h1 class="bg-slate-600 rounded-lg h-9 w-9 text-center text-2xl text-white">0</h1>
    <h1 class="bg-slate-600 rounded-lg h-9 w-9 text-center text-2xl text-white">1</h1>
    <h1 class="bg-slate-600 rounded-lg h-9 w-9 text-center text-2xl text-white">2</h1>
    <h1 class="bg-slate-600 rounded-lg h-9 w-9 text-center text-2xl text-white">3</h1>
    <h1 class="bg-slate-600 rounded-lg h-9 w-9 text-center text-2xl text-white">4</h1>
    <h1 class="bg-slate-600 rounded-lg h-9 w-9 text-center text-2xl text-white">5</h1>
</div>
</body>